services:
  backend:
    build:
      context: .
      dockerfile: Backend.Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - ACCESS_SECRET_KEY=${ACCESS_SECRET_KEY}
      - REFRESH_SECRET_KEY=${REFRESH_SECRET_KEY}

  frontend:
    build:
      context: .
      dockerfile: Frontend.Dockerfile
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - backend
